/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
   --pale-purple-pantone: hsl(262, 63%, 92%);
    --medium-sea-green: hsl(152, 63%, 43%);
    --lavender-blush: hsl(336, 35%, 92%);
    --carolina-blue: hsl(204, 91%, 53%);
    --columbia-blue: hsl(204, 92%, 90%);
    --alice-blue-1: hsl(216, 38%, 95%);
    --alice-blue-2: hsl(216, 75%, 97%);
    --alice-blue-3: hsl(216, 38%, 95%);
    --alice-blue-4: hsl(217, 33%, 92%);
    --independence: hsl(219, 21%, 39%);
    --deep-cerise: hsl(329, 63%, 52%);
    --eerie-black: hsl(210, 11%, 15%);
    --space-cadet: hsl(240, 22%, 25%);
    --blue-jeans: hsl(204, 80%, 63%);
    --slate-blue: hsl(262, 60%, 57%);
    --beau-blue: hsl(208, 86%, 92%);
    --honey-dew: hsl(152, 48%, 89%);
    --mimi-pink: hsl(329, 63%, 90%);
    --red-salsa: hsl(0, 79%, 63%);
    --sapphire: hsl(211, 100%, 35%);
    --manatee: hsl(219, 14%, 60%);
    --white: hsl(0, 0%, 100%);
  
    --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));
  
    
  
  
    --ff-nunito: 'Nunito', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
  
    --fs-1: 2.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.5rem;
    --fs-4: 1.375rem;
    --fs-5: 1.125rem;
    --fs-6: 0.875rem;
    --fs-7: 0.625rem;
  
    --fw-400: 400;
    --fw-600: 600;
  
   
  
    --transition: 0.5s ease;
  
    
  
    --section-padding: 50px;
  
   
  
    --radius-10: 10px;
    --radius-14: 14px;
    --radius-18: 18px;
  
    
  
    --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
    --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  
  }
  
  
.section.hero{
  background-image: url(b.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
}
  
  
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  label,
  input,
  button,
  ion-icon { display: block; }
  
  button,
  input {
    background: none;
    border: none;
    
  }
  
  
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family:"Open Sans", Arial, sans-serif ;
    color:#1C1C1C;
    font-size: 1rem;
    
  }
  
  body {
    background: #beeeee;
    
  
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track { background:  #FFFFFF;}
  
  ::-webkit-scrollbar-thumb {
    background:  #93a9cc1e;
   
    border: 2px solid #FFFFFF;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding: 15px; }
  
  button, a { transition: var(--transition); }
  
  .btn {
    position: relative;
    background: #6CA0D9 ;
    color:  #FFFFFF;
    min-width:  40px;
    min-height:  40px;
    padding: 5px;
    display: grid;
    place-items: center;
    border-radius: 14px;
    font-family:"Nunito", sans-serif ;
    font-size:16px;
    font-weight: 600;
    overflow: hidden;
  }
  
  .btn ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 40px;
  }
  
  .btn::before {
   
    position: absolute;
    
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
  }
  
  .btn:hover { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) ; }
  
  .btn:hover,::before { opacity: 1; }
  
  .section { padding:10px 20px 30px 40px ; }
  
  .h1,
  .h2,
  .h3 {
    color: var(--space-cadet);
    font-family: var(--ff-nunito);
    line-height: 1.4;
  }
  
  .h1 {
    font-size: var(--fs-1);
    text-transform: uppercase;
  }
  
  .h2,
  .h3 { font-weight: var(--fw-400); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-4); }
  
  .w-100 { width: 100%; }
  
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header-contact { display: none; }
  
  .header {
    background: var(--alice-blue-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition);
    z-index: 4;
  }
  
  .header.active { box-shadow: var(--shadow-1); }
  
  .header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .header-actions .btn span { display: none; }
  
  .user-btn {
    --color:  #3F88C5;
    --background:  #ffffff;
    --shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-toggle-btn span {
    background: var(--independence);
    width: 22px;
    height: 2px;
    border-radius: 2px;
    margin-block: 8px;
    transform-origin: right;
    transition: var(--transition);
  }
  
  
  
  .navbar {
    background: rgba(240, 248, 255, 0.8);
    position: fixed;
    top: 70px;
    bottom: 0;
    right: -260px;
    max-width: 260px;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   
    transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  }
  
  
  
  .navbar-link {
    color: #80a0b9;
    font-family: 'Nunito', sans-serif;
    font-size:1.5rem ;
    padding-block: 5px;
    margin-bottom: 15px;
  }
  
  .navbar-link:hover { color:#1f2e3b ; }
  
  .overlay {
    position: fixed;
    top: 70px;
    pointer-events: none;
    transition: var(--transition);
  }

  .login-form {
    display: none;
    position: fixed;
    top: 150%;
    left: 150%;
    transform: translate(-50%, -50%);
    background: #85b0cc;
    padding: 220px;
    border-radius: 5px;
    box-shadow: 1 1 10px rgba(180, 136, 136, 0.1);
}

.icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: blue;
    font-size: 24px;
}
.submit{
padding: 20px;
  color: rgb(231, 224, 224);
  background-color: #3F88C5;
}
.form-container {
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
label {
  display: block;
  margin-bottom: 29px;
}
.input1 {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn1 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #f5e6e6;
  border: none;
  border-radius: 5px;
 
}
.dailyRate{
  min-height: 50;
}
.car-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #532b9c;
  border-radius: 5px;
  
  background-color: #ffffff;
}

.car-details p {
  font-size: 18px;
  margin: 10px 0;
}

#reportAccident {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reportAccident:hover {
  background-color: #d32f2f;
}
.hhh{
  margin-right: 33px;
}
.rental-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}.car-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-left: 600px;
}
.h11{
  margin-bottom: 50PX;
}




  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero { padding-top: 120px; }
  
  .hero-title {
    max-width: 20ch;
  }
  
  .hero-text {
    color:#cadae7 ;
    margin-bottom: 30px;
    font-size: 30px;
  }
  
  
  
  .hero-form {
    background:#e9e2dd ;
    border: 1px solid white;
    box-shadow: 0px 2px 4px rgba(110, 161, 130, 0.1) ;
    border-radius:18px;
    font-family: 'Nunito', sans-serif;
  }
  
  .input-wrapper { padding: 15px 20px; }
  
  .input-wrapper:not(:last-of-type) { border-bottom: 1px solid hsla(0, 4%, 51%, 0.08); }
  
  .input-label {
    color: #a4d2dd ;
    font-size:1.5rem ;
    margin-bottom: 10px;
  }
  
  .input-field {
    color: #595986;
    border-radius: 4px;
    transition: var(--transition);
  }
  
  
  
  .input-field::placeholder { color: #3F88C5; }
  
  .hero-form .btn {
    --width:  260px;
    --height: 50px;
    margin: 20px;
    text-transform: uppercase;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #FEATURED CAR
  \*-----------------------------------*/
  
  .featured-car .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px 15px;
    margin-bottom: 30px;
  }
  
  .featured-car-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3F88C5;
    font-size:  1.5rem;
  }
  
  .featured-car-link span { transition: var(--transition); }
  
  .featured-car-link:hover { color: #2E2E4D; }
  
  .featured-car-link ion-icon {
    margin-top: 3px;
    transition: var(--transition);
  }
  
  .featured-car-link:hover ion-icon { color:#56A0D3 ; }
  
  .featured-car-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
   gap: 30px;
    

  }
  
  .featured-car-card {
    background: #f3efef;
    border: 1px solid var white;
    border-radius:  18px ;
    padding: 10px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .featured-car-card .card-banner {
    background: hsla(0, 0%, 0%, 0.2);
   
    border-radius: 20px;
    overflow: hidden;
  }
  
  .featured-car-card .card-banner > img {
    height: 100%;
    object-fit: cover;
  }
  
  .featured-car-card .card-content { padding: 20px 10px 10px; }
  
  .featured-car-card .card-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-title { width:140px; }
  
  .featured-car-card .card-title > a {
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    
  }
  
  .featured-car-card .card-title > a:hover{ color:blue; }
  
  .featured-car-card .year {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 12px;
    border: 2px dashed hsla(204, 91%, 53%, 0.4);
    border-radius: 14px;
  }
  
  .featured-car-card .card-list {
    display: grid;
    
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .featured-car-card .card-list-item ion-icon {
    font-size: 20px;
    color: blue;
   
  }
  
  .featured-car-card .card-item-text {
    color: #4C516D;
    font-size: 15px;
  }
  
  .featured-car-card .card-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .featured-car-card .card-price {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #2c3e50;
  }
  
  .featured-car-card .btn:last-child {
    --height: 36px;
    min-width: 100%;
  }
  
  .featured-car-card .fav-btn {
    background: #BCD4E6;
    color:#5E86A1 ;
    height: 36px;
    width: 36px;
   
  }
  
  .featured-car-card .fav-btn ion-icon { font-size: 18px; }
  
  .featured-car-card .fav-btn:hover {
    background:#bd3e68 ;
    color: red;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #GET START
  \*-----------------------------------*/
  
  .get-start .section-title { margin-bottom: 25px; }
  
  .get-start-list {
    display: grid;
    gap: 20px;
  }
  
  .get-start-card {
    background: white;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid white;
    transition: var(--transition);
  }
  
  .get-start-card:hover {
    background:#F0F8FF ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
  }
  
  .get-start-card .card-icon {
    background: #5d94b8;
    color:#eee7ed ;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius:14px;
    margin-bottom: 20px;
  }
  
  .get-start-card .card-icon ion-icon {
    font-size: 26px;
    
  }
  
  .get-start-card .icon-1 {
    color: pink;
    background-color: #DA3287 ;
  }
  
  .get-start-card .icon-2 {
    color: blue;
    background-color: rgb(137, 137, 180);
  }
  
  .get-start-card .icon-3 {
    color:#F0FFF0 ;
    background-color:#3CB371 ;
  }
  
  .get-start-card .icon-4 {
    color:#FAE6FA ;
    background-color:#6A5ACD ;
  }
  
  .get-start-card .card-title {
    color: #2C3E50;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .get-start-card .card-text { color:#4C516D ; }
  
  .get-start-card .card-link {
    position: relative;
    color: blue;
    width: max-content;
  }
  
  .get-start-card .card-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: blue;
    transition: var(--transition);
  }
  
  .get-start-card .card-link:hover { width: 100%; }
  
  
  
  
  
  /*-----------------------------------*\
    #BLOG
  \*-----------------------------------*/
  
  .blog .section-title { margin-bottom: 30px; }
  
  .blog-card {
    background: rgb(216, 216, 228);
    border-radius: 18px;
    border: 1px solid white;
    box-shadow: var(--shadow-1);
    overflow: hidden;
  }
  
  .blog-card .card-banner {
    
    position: relative;
    overflow: hidden;
  }
  
  .blog-card .card-banner a:first-child { height: 100%; }
  
  .blog-card .card-banner img {
    height: 100%;
    object-fit: cover;
  }
  
  .blog-card .card-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    --height: 30px;
    --width: 92px;
  }
  
  .blog-card .card-content { padding: 20px; }
  
  .blog-card .card-title { margin-bottom: 20px; }
  
  .blog-card .card-title > a { color: inherit; }
  
  .blog-card .card-title > a:is(:hover, :focus) { color: blue; }
  
  .blog-card .card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blog-card :is(.publish-date, .comments) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #4C5160;
  }
  
  .blog-card  ion-icon {
    font-size: 15px;
    
  }
  
  .blog .has-scrollbar {
    display: flex;
    gap: 20px;
    scroll-snap-type: inline mandatory;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  .footer {
    background: #9fa3bb;
    color: #dde0f1;
  }
  
  .footer a { color: inherit; }
  
  .footer-top {
    padding-block: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 50px;
  }
  
  .footer-top .logo { margin-bottom: 20px; }
  
  .footer-text {
    font-size: 16px;
    line-height: 1.8;
  }
  
  .footer-list { font-family: 'Nunito', sans-serif; }
  
  .footer-list:not(:last-of-type) { width: 50%; }
  
  .footer-list:last-of-type {
    width: 100%;
    column-count: 2;
  }
  
  .footer-list-title {
    color: #2C3E50  ;
    font-weight:600 ;
    margin-bottom: 8px;
  }
  
  .footer-link {
    font-size:1.125rem ;
    padding-block: 6px;
  }
  
  .footer-link:is(:hover, :focus) { color:#6cace4 ; }
  
  .footer-list:last-child > li:first-child { column-span: all; }
  
  .footer-bottom {
    background:  #2c3c3d;
    border-top-left-radius: 18px;
border-top-right-radius: 18px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
border: 1px solid white;
    
    padding: 20px;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .social-link { font-size: 20px; }
  
 
  
  .social-link:hover { color: #4582bb; }
  
  .copyright { font-size: 1.25rem; }
  
  .copyright > a { display: inline-block; }
  
  .copyright  a:hover { color:#dee4e9 ; }
  
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 350px screen
   */
  
  @media (min-width: 350px) {
  
    /**
     * FEATURED CAR
     */
  
    .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }
  
    .featured-car-card .card-price { margin-right: auto; }
  
    .featured-car-card .btn:last-child {
      min-width: max-content;
      padding-inline: 15px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      margin-inline: auto;
    }
  
  
  
    /**
     * HEADER
     */
  
    .header-actions .btn span {
      display: block;
      font-weight: var(--fw-400);
      padding-inline: 15px;
    }
  
    .header-actions .btn:first-of-type ion-icon { display: none; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 2.625rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
  
  
    /**
     * HEADER
     */
  
    .header-actions { gap: 30px; }
  
    .header-contact {
      display: block;
      text-align: center;
    }
  
    .header-contact .contact-link {
      color: var(--space-cadet);
      font-family: var(--ff-nunito);
      font-size: var(--fs-5);
      line-height: 1.3;
    }
  
    .header-contact .contact-link:is(:hover, :focus) { color: var(--carolina-blue); }
  
    .header-contact .contact-time {
      color: var(--independence);
      font-size: var(--fs-7);
    }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      position: relative;
      min-height: 85vh;
      display: flex;
      align-items: center;
      z-index: 1;
    }
  
    .hero-form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 0.8fr;
    }
  
    .input-wrapper:not(:last-of-type) {
      border-bottom: none;
      border-right: 1px solid hsla(0, 0%, 0%, 0.08);
    }
  
    .input-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .hero-banner {
      display: block;
      background: url("../images/hero-banner.jpg") no-repeat;
      background-size: cover;
      background-position: left;
      position: absolute;
      top: 100px;
      bottom: 50px;
      left: 65%;
      width: 500px;
      border-radius: 30px;
      z-index: -1;
    }
  
  
  
    /**
     * FEATURED CAR
     */
  
    .featured-car-list { grid-template-columns: repeat(2, minmax(0, 1fr)); }
  
  
  
    /**
     * GET START
     */
  
    .get-start-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-brand { width: 100%; }
  
    .footer-text { max-width: 400px; }
  
    .footer-bottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-block: 30px;
      box-shadow: var(--shadow-1);
    }
  
    .social-list { margin-bottom: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
  
  
    /**
     * HERO
     */
  
    .hero .container { width: 100%; }
  
  
  
    /**
     * BLOG
     */
  
    .blog .has-scrollbar { padding-bottom: 50px; }
  
    .blog .has-scrollbar > li { max-width: 450px; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-list:not(:last-of-type) { width: 25%; }
  
    .footer-list:last-of-type { width: 50%; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 2.875rem;
      --fs-2: 2rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1170px; }
  
  
  
  
    /**
     * HEADER
     */
  
    .overlay,
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-link {
      margin-bottom: 0;
      font-weight: var(--fw-600);
    }
  
    .navbar-list {
      display: flex;
      gap: 50px;
    }
  
  
  
    /**
     * HERO
     */
  
    .hero { min-height: 100vh; }
  
    .hero-banner {
      left: auto;
      right: 50px;
      width: 630px;
    }
  
    .hero-form { max-width: 900px; }
  
    .hero-form .btn {
      --width: calc(100% - 40px);
      --height: 50px;
      margin: 20px;
      text-transform: uppercase;
    }
  
  
  
    /**
     * FEATURED CAR 
     */
  
    .featured-car-list { grid-template-columns: repeat(3, minmax(0, 1fr)); }
  
  
  
    /**
     * GET START
     */
  
    .get-start-list { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * BLOG
     */
  
    .blog .has-scrollbar > li {
      max-width: 340px;
      scroll-snap-align: center;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-brand { width: 33.33%; }
  
    .footer-text { max-width: 35ch; }
  
    .footer-list:not(:last-of-type) { width: 16.66%; }
  
    .footer-list:last-of-type { width: 33.33%; }
  
  }

  .login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }